#star1:hover{
    -fx-cursor: hand;
}
#star2:hover{
    -fx-cursor: hand;
}
#star3:hover{
    -fx-cursor: hand;
}
#star4:hover{
    -fx-cursor: hand;
}
#star5:hover{
    -fx-cursor: hand;
}
#back{
    -fx-cursor: hand;
}